/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*Sizes*/
  --accent-font-size-logo: clamp(3.0625rem, 2.71rem + 1.5vw, 4.0625rem);
  --accent-font-size-title: clamp(0.875rem, 0.68rem + 0.85vw, 1.4375rem);
  --container-width: clamp(23.4375rem, 16.29rem + 30.52vw, 43.75rem); 
  --container-height: clamp(20.4375rem, 19.54rem + 3.85vw, 23rem);
  --dialog-widht: clamp(341px, 336.77px + 1.13vw, 353px);

  /*Fonts*/
  --accent-font-family: "PressStart2P-Regular";
  --main-font-family: "Inter-Variable";
  --main-font-size: 18px;
  --main-font-wght: 410;
  --accent-font-weight: 400;
  --accent-font-size: 14px;
  --title-card-font-wght: 715;

  /*Colors*/
  --main-text-color: #000;
  --accent-color: #000;
  --color-bg-primary: #fff;
  --color-text-outline: #fff;
  --main-button-color: #fff;
  --border-color-primary: #000;
  --contour-color: #000;
  --animation-fill-color-active: red;
  --animation-fill-color-hover: #000;

  /* Background */
  --bg-gradient-page: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
